@font-face {
  font-family: "Inter-Regular";
  src: url("/assets/fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/assets/fonts/Inter-Bold.otf");
}
@font-face {
  font-family: "Inter-Light";
  src: url("/assets/fonts/Inter-Light.otf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("/assets/fonts/Inter-Medium.otf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("assets/background/main_bg_dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#loading_animation_div {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#loading_animation_gif {
  height: 50px;
  width: 50px;
}

#parsing_lbl {
  font-family: Inter-Regular;
  color: #f30505;
  margin-top: 15px;
  font-size: 12px;
}

.header_div {
  height: 80px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.body_div {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  height: 54px;
  margin-top: 5px;
  margin-left: 10px;
  -webkit-tap-highlight-color: transparent;
}
.front {
  display: block;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(355, 100%, 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.home_img {
  width: 20px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(225deg) brightness(106%) contrast(106%);
}

.parseit_banner {
  height: 150px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.banner_img {
  margin-top: 15%;
  width: 280px;
  animation: popAndBounce 0.6s ease-out;
}

@keyframes popAndBounce {
  0% {
    transform: scale(0.95); /* Slightly smaller to start */
  }
  50% {
    transform: scale(1.05); /* Pop-out slightly larger */
  }
  70% {
    transform: scale(0.98); /* Subtle shrink for bounce effect */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

.home_menu {
  width: 60%;
  flex: 1;
  background-color: transparent;
}

.joinquiz_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 125px;
  background: linear-gradient(
    135deg,
    #f53e3e,
    #f73a3a,
    #ff4500,
    #ff6347,
    #ec2727
  ); /* Rich red tones */
  background-size: 300% 300%; /* Make the gradient larger than the div */
  background-position: 0% 50%; /* Initial position */
  margin-top: 30%;
  border-radius: 10px;
  animation: blueGradientAnimation 7s infinite ease-in-out; /* Smooth animation */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.lblquiz {
  font-family: Inter-Bold;
  color: #fefefe;
  font-size: 20px;
}
.lblsubquiz {
  font-family: Inter-Light;
  color: #fefefe;
  font-size: 14px;
  font-style: italic;
  opacity: 0.8;
}
.top_joinquiz {
  margin-top: -16%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 15%;
}

.bot_joinquiz {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15%;
}

.top_createquiz {
  margin-top: -14%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 15%;
  margin-right: 13%;
}

.bot_createquiz {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15%;
}

.iconjoin_img {
  width: 80px;
}

.iconcreate_img {
  width: 48px;
  transform: rotate(-130deg);
}
.createquiz_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 125px;
  background: linear-gradient(135deg, #d4e1fa, #6794e2, #7bb0db, #5681d1);

  background-size: 300% 300%; /* Make the gradient larger than the div */
  background-position: 0% 50%; /* Initial position */
  margin-top: 20%;
  border-radius: 10px;
  animation: blueGradientAnimation 7s infinite ease-in-out; /* Smooth animation */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes blueGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
