@font-face {
  font-family: "Inter-Bold";
  src: url(assets/fonts/Inter-Bold.otf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(assets/fonts/Inter-Medium.otf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(assets/fonts/Inter-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#home_div {
  width: 90%;
  height: 100%;
  background-color: transparent;
  display: none;
  justify-content: space-between;
  flex-direction: column;
}

#loading_animation_div {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
}

#loading_animation_gif {
  height: 50px;
  width: 50px;
}

#parsing_lbl {
  font-family: Inter-Regular;
  color: #f30505;
  margin-top: 15px;
  font-size: 12px;
}

.check_animation_div {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: none;
}

.check-animation {
  margin-top: -45px;
  width: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#home_trainchatbot {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainchatbot-wrapper {
  width: 90%;
  height: 100%;
  background-color: transparent;
  overflow-x: scroll;
  scrollbar-width: none;
}

#canceladdchatbot-btn {
  border: none;
  background-color: #fefefe;
  padding-top: 10px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.canceladdcluster-btn {
  width: 15px;
  margin-top: 10px;
}

.fillers {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  background-color: transparent;
}
.header-title-wrapper {
  height: 40px;
}
.header-title {
  font-family: Inter-Bold;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
  height: 150px;
}

.chatbot-data-wrapper {
  width: 100%;
  background-color: transparent;
  margin-bottom: 15px;
}

.duedate-wrapper {
  width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
}
.scorring-wrapper {
  width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
  display: flex;
  gap: 10px;
}

#datetime {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  padding: 15px;
  border: 0.3px solid #dcdcdc;
  border-radius: 4px;
  background-color: transparent;
  visibility: visible;
}
#datetime:focus {
  outline: none;
}
#setduedate-btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter-Regular;
  font-size: 14px;
  padding: 15px;
  background-color: transparent;
  border: 0.3px solid #dcdcdc;
  color: #707070;
}

.createassigment-txt {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 14px;
  background-color: transparent;
  border: 0.3px solid #dcdcdc;
  padding-left: 15px;
}
.createassigment-txt:focus {
  outline: none;
}

#createassigment-instructions {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 0.5px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 14px;
  padding: 15px;
}

#createassigment-instructions:focus {
  outline: none;
}

.createassigment-respository {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 14px;
  background-color: transparent;
  border: 0.3px solid #dcdcdc;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
#repository-radio {
  accent-color: #f30505;
  margin-right: 10px;
}

.attachfile-btn {
  width: 100%;
  background-color: #fefefe;
  color: #f30505;
  border: 0.3px solid #f30505;
  border-radius: 4px;
  font-family: Inter-Regular;
  font-size: 14px;
  height: 45px;
}

.teacher-widget-wrapper {
  height: 60px;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.widget-wrapper {
  width: 50px;
  height: 50px;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
  aspect-ratio: 1/1;
  border: 0.3px solid #dcdcdc;
  pointer-events: all;
}

.widget-wrapper.animate {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}
.widget-wrapper.animate-close {
  opacity: 0;
  transform: scale(0);
  z-index: 100;
}
.widget-img {
  width: 20px;
  filter: invert(37%) sepia(100%) saturate(7404%) hue-rotate(7deg)
    brightness(91%) contrast(124%);
}

.widget-img-word {
  width: 23px;
  filter: invert(37%) sepia(100%) saturate(7404%) hue-rotate(7deg)
    brightness(91%) contrast(124%);
}

.widget-img-file {
  width: 15px;
  filter: invert(37%) sepia(100%) saturate(7404%) hue-rotate(7deg)
    brightness(91%) contrast(124%);
}

#createassignment-btn {
  width: 100%;
  background-color: #f30505;
  color: #fefefe;
  border: none;
  border-radius: 4px;
  font-family: Inter-Regular;
  font-size: 14px;
  height: 45px;
}

.attachedfile-container {
  height: 45px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  margin-bottom: 10px;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background-color: #f1f1f1;
  transition: width 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 4px;
}

#assigment-attachedfile-container {
  display: flex;
}

.progress-bar-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0.3px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-attachedfile {
  width: 45px;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-attachedfile-img {
  width: 15px;
}

.sticky-attached {
  top: 0;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter-Regular;
  font-size: 14px;
  height: 100%;
  margin-left: 15px;
  width: 88%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#assigment-attachedfile-container {
  display: none;
}

#fileInput {
  visibility: hidden;
}
#datetime {
  visibility: visible;
}

.viewattachedfile-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(53, 53, 53, 0.623);
  z-index: 300;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 40px;
}
.viewattachedfile-cont {
  width: 75%;
  object-fit: contain;
  border-radius: 7px;
  overflow: scroll;
  scrollbar-width: none;
  background-color: #fefefe;
  padding: 10px;
  font-size: 12px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.viewattachedfile-container-docs {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(53, 53, 53, 0.623);
  z-index: 300;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.viewattachedfile-cont-docs {
  width: 65%;
  height: 75%;
  object-fit: contain;
  border-radius: 7px;
  overflow: scroll;
  scrollbar-width: none;
  background-color: #fefefe;
  padding: 40px;
  font-size: 12px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@keyframes fadeScaleDown {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
    z-index: -100;
  }
}

@keyframes fadeScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
    z-index: -100;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeScaleDown-bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes fadeScaleUp-bg {
  0% {
    opacity: 0;
    z-index: -100;
  }
  100% {
    opacity: 1;
  }
}

.viewattachedfile-container-pdf {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(53, 53, 53, 0.623);
  z-index: 300;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.viewattachedfile-cont-pdf {
  width: 90%;
  height: 65%;
  object-fit: contain;
  border-radius: 7px;
  overflow: scroll;
  scrollbar-width: none;
  background-color: #fefefe;
  font-size: 12px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
