@font-face {
  font-family: "Inter-Bold";
  src: url(assets/fonts/Inter-Bold.otf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(assets/fonts/Inter-Medium.otf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(assets/fonts/Inter-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#home_div {
  width: 90%;
  height: 100%;
  background-color: transparent;
  display: none;
  justify-content: space-between;
  flex-direction: column;
}

#loading_animation_div {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
}

#loading_animation_gif {
  height: 50px;
  width: 50px;
}

#parsing_lbl {
  font-family: Inter-Regular;
  color: #f30505;
  margin-top: 15px;
  font-size: 12px;
}

#home_trainchatbot {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainchatbot-wrapper {
  width: 90%;
  height: 100%;
  background-color: transparent;
  overflow-x: scroll;
  scrollbar-width: none;
}

#canceladdchatbot-btn {
  border: none;
  background-color: #fefefe;
  padding-top: 10px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.canceladdcluster-btn {
  width: 15px;
  margin-top: 10px;
}

.fillers {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  background-color: transparent;
}
.header-title-wrapper {
  height: 40px;
}
.header-title {
  font-family: Inter-Bold;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
  height: 150px;
}

.chatbot-data-wrapper {
  width: 100%;
  background-color: transparent;
  margin-bottom: 15px;
}

.duedate-wrapper {
  width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
}
.scorring-wrapper {
  width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
  display: flex;
  gap: 10px;
}

#datetime {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  padding: 15px;
  border: 0.3px solid #dcdcdc;
  border-radius: 4px;
  background-color: transparent;
  visibility: hidden;
}
#datetime:focus {
  outline: none;
}
#setduedate-btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Inter-Regular;
  font-size: 14px;
  padding: 15px;
  background-color: transparent;
  border: 0.3px solid #dcdcdc;
  color: #707070;
}

.createassigment-txt {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 14px;
  background-color: transparent;
  border: 0.3px solid #dcdcdc;
  padding-left: 15px;
}
.createassigment-txt:focus {
  outline: none;
}

#createassigment-instructions {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 0.5px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 14px;
  padding: 15px;
}

#createassigment-instructions:focus {
  outline: none;
}

.createassigment-respository {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 14px;
  background-color: transparent;
  border: 0.3px solid #dcdcdc;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#repository-radio {
  accent-color: #f30505;
  margin-right: 10px;
}

#attachfile {
  width: 100%;
  background-color: #f30505;
  color: #fefefe;
  border: none;
  border-radius: 4px;
  font-family: Inter-Regular;
  font-size: 14px;
}

.teacher-widget-wrapper {
  height: 60px;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.widget-wrapper {
  width: 50px;
  height: 50px;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
  aspect-ratio: 1/1;
  border: 0.3px solid #dcdcdc;
  pointer-events: all;
}

.widget-wrapper.animate {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}
.widget-wrapper.animate-close {
  opacity: 0;
  transform: scale(0);
  z-index: 100;
}
.widget-img {
  width: 20px;
  filter: invert(37%) sepia(100%) saturate(7404%) hue-rotate(7deg)
    brightness(91%) contrast(124%);
}

.widget-img-word {
  width: 15px;
  filter: invert(37%) sepia(100%) saturate(7404%) hue-rotate(7deg)
    brightness(91%) contrast(124%);
}
