@font-face {
  font-family: "Inter-Regular";
  src: url("assets/fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("assets/fonts/Inter-Bold.otf");
}
@font-face {
  font-family: "Inter-Light";
  src: url("assets/fonts/Inter-Light.otf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#loading_animation_div {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#loading_animation_gif {
  height: 50px;
  width: 50px;
}

#parsing_lbl {
  font-family: Inter-Regular;
  color: #f30505;
  margin-top: 15px;
  font-size: 12px;
}

.popupDefault {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter-Regular";
  overflow: hidden;
}
.top-left-iconimg-default {
  width: 22px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: invert(0%) sepia(1%) saturate(5%) hue-rotate(168deg) brightness(106%)
    contrast(101%);
  margin-left: 10px;
}
.button-img-default {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.title-topspan-default {
  font-family: "Inter-Bold";
  font-size: 26px;
  color: #000000;
  margin-left: 10px;
}

.header_nav {
  height: 60px;
  width: 100%;
  overflow: hidden;
}
.body_section {
  height: 100%;
  width: 100%;
}
.footer_nav {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 60px;
  width: 100%;
}

.lobby_nav {
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar_div {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;
}

.sidebar_frame {
  width: 80%;
  height: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#sidebar_header {
  background-color: #fefefe;
}
#sidebar_body {
  background-color: #fefefe;
}
#sidebar_footer {
  background-color: #fefefe;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@keyframes showsidebar {
  from {
    transform: translateX(-105%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hidesidebar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-105%);
  }
}
@keyframes hidesidebar_div {
  0% {
    opacity: 1;
    transform: translateX(0);
    z-index: 100; /* Ensure it's on top initially */
  }
  99% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    z-index: -1; /* Place it behind after it's out of view */
  }
}

#logout_btn {
  width: 30px;
  margin-right: 10px;
}

#body_section {
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#student_nav,
#teacher_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.lobby-icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homelobby_icon {
  width: 23px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: invert(54%) sepia(8%) saturate(27%) hue-rotate(319deg) brightness(91%)
    contrast(85%);
}
.homelobby_icon_lbl {
  font-family: "Inter-Light";
  font-size: 12px;
  color: #808080;
}

.body-nav-wrapper {
  width: 93%;
  height: 100%;
  display: none;
}

#home_all_sec {
  background-color: transparent;
}
#game_student_sec {
  background-color: transparent;
}
#library_student_sec {
  background-color: yellow;
}
#chatgpt_all_sec {
  background-color: green;
}
#honors_teacher_sec {
  background-color: blue;
}
#share_teacher_sec {
  background-color: indigo;
}

.search-default-div {
  width: 100%;
  height: 50px;
  background-color: #fefefe;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  border-radius: 5px;
  border: 0.5px solid #dcdcdc;
}

.search-default-img {
  width: 20px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: invert(54%) sepia(8%) saturate(27%) hue-rotate(319deg) brightness(91%)
    contrast(85%);
  margin-left: 10px;
  margin-right: -5px;
}

.search-default-txt {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: Inter-Regular;
}
.search-default-txt:focus {
  outline: none;
}

.game-default-div {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
  scrollbar-width: none;
}

.game-default-wrapper {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: 0.5px solid #dcdcdc;
  flex-shrink: 0;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fefefe;
}

#game-1 {
  position: relative;
  background-image: url(assets/giphy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}
#game-2 {
  position: relative;
  background-image: url(assets/gipghy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}
#game-3 {
  position: relative;
  background-image: url(assets/giphy.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}
#game-4 {
  position: relative;
  background-image: url(assets/giphyff.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}

#game-1::before,
#game-2::before,
#game-3::before,
#game-4::before,
#game-5::before,
#game-6::before,
#parseclass_id_::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
}

.game-default-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
}

.game-default-span {
  color: #fefefe;
  font-family: Inter-Bold;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.game-header-lbl {
  color: #fefefe;
  font-family: Inter-Bold;
  font-size: 18px;
}
.game-header-sublbl {
  color: #fefefe;
  font-family: Inter-Light;
  font-size: 14px;
}

.announcement-div {
  width: 100%;
  height: 60px;
  background-color: red;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.parseclass-default-div {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
  scrollbar-width: none;
}

.parseclass-default-wrapper {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: 0.5px solid #dcdcdc;
  flex-shrink: 0;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fefefe;
}

.parseclass-default-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
}

.parseclass-default-span {
  color: #fefefe;
  font-family: Inter-Bold;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.parseclass-header-lbl {
  color: #fefefe;
  font-family: Inter-Bold;
  font-size: 18px;
}
.parseclass-header-sublbl {
  color: #fefefe;
  font-family: Inter-Light;
  font-size: 14px;
}

.parseclass {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}

.parseclass-day-lbl {
  color: #fefefe;
  font-family: Inter-Bold;
  font-size: 14px;
  background-color: transparent;
  margin-top: 10px;
}
.parseclass-time-lbl {
  color: #fefefe;
  font-family: Inter-Light;
  font-size: 12px;
  background-color: transparent;
  margin-top: 12px;
  margin-left: 5px;
}

.parsesched-default-span {
  color: #fefefe;
  font-family: Inter-Light;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}
