@font-face {
  font-family: "Inter-Regular";
  src: url("assets/fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("assets/fonts/Inter-Bold.otf");
}
@font-face {
  font-family: "Inter-Light";
  src: url("assets/fonts/Inter-Light.otf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("assets/fonts/Inter-Medium.otf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#loading_animation_div {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#loading_animation_gif {
  height: 50px;
  width: 50px;
}

#parsing_lbl {
  font-family: Inter-Regular;
  color: #f30505;
  margin-top: 15px;
  font-size: 12px;
}

.popupDefault {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter-Regular";
  overflow: hidden;
}
.top-left-iconimg-default {
  width: 22px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: invert(0%) sepia(1%) saturate(5%) hue-rotate(168deg) brightness(106%)
    contrast(101%);
  margin-left: 10px;
}
.button-img-default {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.title-topspan-default {
  font-family: "Inter-Bold";
  font-size: 26px;
  color: #000000;
  margin-left: 10px;
}

.header_nav {
  height: 60px;
  width: 100%;
  overflow: hidden;
}

#myProfile_btn {
  margin-top: -5px;
}
.body_section {
  height: 100%;
  width: 100%;
}
.footer_nav {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 60px;
  width: 100%;
}

.lobby_nav {
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar_div {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;
}

.sidebar_frame {
  width: 80%;
  height: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#sidebar_header {
  width: 100%;
  height: 60px;
  background-color: #fefefe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#parser_profile {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sidebaroptions_img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  aspect-ratio: 1/1;
  margin-right: -5px;
  filter: invert(22%) sepia(100%) saturate(7416%) hue-rotate(4deg)
    brightness(95%) contrast(109%);
}

#parser_username {
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Inter-Bold";
  font-size: 16px;
  margin-left: 10px;
  color: #fefefe;
  text-shadow: 0.1em 0.1em 0 hsl(200 0% 30%);
}
#sidebar_body {
  background-color: #fefefe;
  margin-top: 15px;
}
#sidebar_footer {
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}

.reloadpage {
  font-family: Inter-Regular;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dcdcdc;
  font-size: 12px;
  margin-left: 15px;
}

@keyframes showsidebar {
  from {
    transform: translateX(-105%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hidesidebar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-105%);
  }
}
@keyframes hidesidebar_div {
  0% {
    opacity: 1;
    transform: translateX(0);
    z-index: 100; /* Ensure it's on top initially */
  }
  99% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    z-index: -1; /* Place it behind after it's out of view */
  }
}

#logout_btn {
  width: 30px;
  margin-right: 10px;
  filter: invert(22%) sepia(100%) saturate(7416%) hue-rotate(4deg)
    brightness(95%) contrast(109%);
}

#body_section {
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#student_nav,
#teacher_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.lobby-icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homelobby_icon {
  width: 23px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: invert(54%) sepia(8%) saturate(27%) hue-rotate(319deg) brightness(91%)
    contrast(85%);
}
.homelobby_icon_lbl {
  font-family: "Inter-Light";
  font-size: 12px;
  color: #808080;
}

.body-nav-wrapper {
  width: 93%;
  height: 100%;
  display: none;
}

#home_all_sec {
  background-color: transparent;
  box-sizing: border-box;
}
#game_student_sec {
  background-color: transparent;
}
#library_student_sec {
  background-color: yellow;
}
#chatgpt_all_sec {
  background-color: green;
}
#honors_teacher_sec {
  background-color: blue;
}
#quiz_teacher_sec {
  background-color: pink;
}

#share_teacher_sec {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
}

.search-default-div {
  width: 100%;
  height: 50px;
  background-color: #fefefe;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  border-radius: 5px;
  border: 0.5px solid #dcdcdc;
}

.search-default-img {
  width: 20px;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: invert(54%) sepia(8%) saturate(27%) hue-rotate(319deg) brightness(91%)
    contrast(85%);
  margin-left: 10px;
  margin-right: -5px;
}

.search-default-txt {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: Inter-Regular;
}
.search-default-txt:focus {
  outline: none;
}

.game-default-div {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
  scrollbar-width: none;
}

.game-default-wrapper {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  border: 0.5px solid #dcdcdc;
  flex-shrink: 0;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fefefe;
}

#game-1 {
  position: relative;
  background-image: url(assets/game_background/flipit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}
#game-2 {
  position: relative;
  background-image: url(assets/game_background/fruitmania.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}
#game-3 {
  position: relative;
  background-image: url(assets/game_background/parserslearninghub.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}
#game-4 {
  position: relative;
  background-image: url(assets/game_background/quizmasters.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}

#game-1::before,
#game-2::before,
#game-3::before,
#game-4::before,
#game-5::before,
#game-6::before,
#parseclass_id_::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
}

.game-default-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
}

.game-default-span {
  color: #fefefe;
  font-family: Inter-Bold;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.game-header-lbl {
  color: #fefefe;
  font-family: Inter-Bold;
  font-size: 18px;
}
.game-header-sublbl {
  color: #fefefe;
  font-family: Inter-Light;
  font-size: 14px;
}

.parseclass-default-div {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  /* display: flex; */
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-bottom: 80%;
  text-overflow: ellipsis;
}

.parseclass-default-wrapper {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: 0.5px solid #dcdcdc;
  flex-shrink: 0;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fefefe;
  text-overflow: ellipsis;
}

.parseclass-default-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
  text-overflow: ellipsis;
}

.parseclass-default-span {
  color: #fefefe;
  font-family: Inter-Bold;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  background-color: transparent;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 94%;
  
}

.parseclass-header-lbl {
  color: #fefefe;
  font-family: Inter-Bold;
  font-size: 18px;
  text-shadow: 0.1em 0.1em 0 hsl(100 10% 25%);
  
}
.parseclass-header-sublbl {
  color: #fefefe;
  font-family: Inter-Light;
  font-size: 14px;
}

.parseclass {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
  
}

.parseclass-day-lbl {
  color: #fefefe;
  font-family: Inter-Bold;
  font-size: 12px;
  background-color: transparent;
  margin-bottom: -10px;
  
}
.parseclass-time-lbl {
  color: #fefefe;
  font-family: Inter-Light;
  font-size: 10px;
  background-color: transparent;
  margin-top: 10px;
}

.parsesched-default-span {
  color: #fefefe;
  font-family: Inter-Light;
  margin-left: 10px;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  
}
.sched-all-container{
  width: 330px;
  height: 40px;
  box-sizing: border-box;
  background-color: transparent;
  overflow-x: auto;
  scrollbar-width: none;
  
}

.parseclass-sched-single{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  outline: 0.5px solid #dcdcdc;
  margin-top: 10px;
  padding: 3px;
  padding-top: 1px;
  padding-bottom: 2px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  background-color: rgba(165, 165, 165, 0.5); 
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-left: 2px;
  max-width: 110px;
  width: 110px;
}



.sched-all-wrapper{
  display: flex;
  width: 600px;
  height: 40px;
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
}



#notyetstarted_div {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  align-items: center;
}

.sem-bg-img {
  width: 100%;
  margin-top: -50%;
}

.side_options_wrapper {
  height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline: 0.5px solid #dcdcdc;
  margin: 10px;
  box-sizing: content-box;
  border-radius: 3px;
}

.sidebar_options_lbl {
  font-family: Inter-Medium;
  font-size: 18px;
  margin-left: 15px;
}
#myCluster_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addCluster {
  margin-right: 15px;
  font-size: 14px;
  font-family: Inter-Medium;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  color: #323232;
}

.cluster_div {
  background-color: #f5f5f5;
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.radio-cluster-wrapper {
  margin-left: 5%;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
}

.cluster-radio-default {
  font-family: "Inter-Regular";
  font-size: 16px;
  margin-left: 5px;
}

.share_teacher_wrapper {
  width: 100%;
  background-color: transparent;
  height: 800px;
  display: none;
}

.header-share {
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.lbl-share {
  font-family: "Inter-Bold";
  font-size: 16px;
  margin-left: 5px;
}
.lbl-subshare {
  font-family: "Inter-Regular";
  font-size: 12px;
  margin-left: 5px;
}

.body-share {
  width: 100%;
  height: 70%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body-share-wrapper {
  height: 70px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 0.5px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}
.body-share-header {
  font-size: 13px;
  margin-top: 14px;
  width: 90%;
}

.share-txt {
  border: none;
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: transparent;
  font-family: Inter-Light;
}
.share-txt:focus {
  outline: none;
}

.body-share-description {
  font-size: 13px;
  margin-top: 14px;
  width: 90%;
}

#body-share-description {
}

.body-share-wrapper-description {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 0.5px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

#body-share-description {
  font-family: Inter-Light;
  border: none;
  width: 90%;
  margin-top: 5px;
  background-color: transparent;
}
#body-share-description:focus {
  outline: none;
}

#background-1 {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-image: url(assets/announcement/4.png);
  background-size: cover;
  background-position: left;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#background-2 {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-image: url(assets/announcement/1.png);
  background-size: cover;
  background-position: left;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#background-3 {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-image: url(assets/announcement/2.png);
  background-size: cover;
  background-position: left;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#background-4 {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-image: url(assets/announcement/3.png);
  background-size: cover;
  background-position: left;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.select-bg {
  padding-bottom: 15px;
}
#share-announcement-btn {
  height: 50px;
  display: none;
  background-color: #f30505;
  border: none;
  border-radius: 4px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-family: Inter-Medium;
}

.select-bg-img {
  width: 12px;
  margin-right: 5px;
  opacity: 0.7;
  display: none;
}

.select-bg-head {
  display: flex;
  justify-content: space-between;
}

.announcement-div {
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url(assets/images/background_images/announcement_bg_600px.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0.5px solid #e5e5e5;
  margin-bottom: 5px;
}
#date_announcement_lbl {
  font-size: 14px;
  font-family: Inter-Bold;
}
.xdate {
  text-align: center;
  width: 100%;
  margin-bottom: 3px;
}
#time_announcement_lbl {
  font-size: 12px;
}
#announcement_lbl {
  font-size: 14px;
  font-family: Inter-Light;
  position: absolute;
  animation: scrolltoleft;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: transparent;
  transform: translateX(0%);
  left: 100%;
}

.xannounce {
  text-align: left;
  height: 19px;
  width: 290px;
  background-color: transparent;
  white-space: nowrap;
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  color: #000000;
}

@keyframes scrolltoleft {
  to {
    transform: translateX(-100%);
    left: 0%;
  }
}

.check_animation_div {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: none;
}

.check-animation {
  margin-top: -45px;
  width: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.allannouncement-div {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.allannouncement-frame {
  width: 85%;
  height: 90%;
  background-color: #fefefe;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  /* animation: fadeScaleDown 0.25s ease-in-out forwards; */
}

@keyframes fadeScaleDown {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
    z-index: -100;
  }
}

@keyframes fadeScaleUp {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
    z-index: -100;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.allannouncement-header {
  width: 90%;
  height: 45px;
  background-color: transparent;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.allannouncement-body {
  width: 90%;
  background-color: transparent;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.allannouncement-wrapper {
  background-color: transparent;
  border: 0.5px solid #dcdcdc;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.allannouncement-header-lbl {
  font-size: 18px;
  font-family: Inter-Bold;
}
.alldate {
  width: 100%;
  height: 20px;
  background-color: rgb(255, 241, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.announcemonth {
  font-family: Inter-Bold;
  font-size: 13px;
  margin-left: 10px;
}

.announceday {
  font-family: Inter-Light;
  font-size: 12px;
}
.announcetime {
  font-family: Inter-Light;
  font-size: 10px;
  margin-right: 10px;
}

.allheader {
  background-color: transparent;
  padding: 8px;
  font-family: Inter-Regular;
  font-size: 12px;
  padding-bottom: 2%;
}

.alldescription {
  background-color: transparent;
  padding: 8px;
  font-family: Inter-Light;
  font-size: 11px;
  padding-top: 0%;
}
