@font-face {
  font-family: "Inter-MediumItalic";
  src: url(assets/fonts/Inter-MediumItalic.otf);
}

* {
  font-family: Inter-Regular;
  font-size: 14px;
  color: #2e3845;
}

body {
  margin: 0;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}
#loading_animation_div {
  height: 95%;
  width: 90%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loading_animation_gif {
  height: 15px;
  width: 120px;
}
#parsing_lbl {
  font-family: Inter-MediumItalic;
  color: #f30505;
  margin-top: 15px;
  font-size: 12px;
}
