@font-face {
  font-family: "Inter-Regular";
  src: url("assets/fonts/Inter-Regular.otf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("assets/fonts/Inter-Bold.otf");
}
@font-face {
  font-family: "Inter-Light";
  src: url("assets/fonts/Inter-Light.otf");
}
@font-face {
  font-family: "Inter-Medium";
  src: url("assets/fonts/Inter-Medium.otf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#loading_animation_div {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
}

#loading_animation_gif {
  height: 50px;
  width: 50px;
}

#parsing_lbl {
  font-family: Inter-Regular;
  color: #f30505;
  margin-top: 15px;
  font-size: 12px;
}

.nofeature {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter-Bold";
  overflow: hidden;
  z-index: 1000;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.2);
}

.nofeature-wrapper {
  width: 70%;
  height: 100px;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home-parseroom-div {
  background-color: #fefefe;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.body-parseroom-div {
  background-color: transparent;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  /* animation: parseroom-slideIn 0.6s ease-out forwards; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.details-parseroom-div {
  background-color: yellow;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* animation: parseroom-slideIn 0.6s ease-out forwards; */
}

@keyframes parseroom-slideIn {
  0% {
    translate: 0%;
  }
  100% {
    translate: -100%;
  }
}

@keyframes parseroom-slideOut {
  0% {
    translate: -100%;
  }
  100% {
    translate: 0%;
  }
}

.parseroom-header {
  width: 100%;
  height: 60px;
  background-color: #fefefe;
  z-index: 100;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   */
}

.closeparseroom-btn {
  width: 15px;
  margin-left: 15px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.info-btn {
  width: 20px;
  margin-right: 15px;
  filter: brightness(0) saturate(100%) invert(32%) sepia(88%) saturate(6334%)
    hue-rotate(352deg) brightness(89%) contrast(117%);
}

.parseroomName {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent;
  margin-left: 15px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
}

.parsecode {
  display: inline-block;
  font-family: Inter-Bold;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.parsename {
  font-family: Inter-Light;
  font-size: 14px;
  height: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.parseroom-body {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.parseroom-footer {
  width: 100%;
  min-height: 60px;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sendmessage-btn {
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 15px;
  filter: brightness(0) saturate(100%) invert(32%) sepia(88%) saturate(6334%)
    hue-rotate(352deg) brightness(89%) contrast(117%);
}

.whispermessage-btn {
  display: none;
  width: 20px;
  height: 20px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 15px;
  filter: brightness(0) saturate(100%) invert(16%) sepia(73%) saturate(5333%)
    hue-rotate(257deg) brightness(93%) contrast(100%);
}
.parsermessage-txt {
  width: 100%;
  margin: 10px;
  height: 40px;
  border: none;
  font-family: Inter-Light;
  border: 0.4px solid #dcdcdc;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  scrollbar-width: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: baseline;
  background-color: #f1f1f1d8;
}

.parsermessage-txt:focus {
  outline: none;
  scrollbar-width: none;
}

.parseroom-body-wrapper {
  background-color: transparent;
  width: 95%;
  height: calc(100% - 130px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 15px;
  margin-bottom: 10px;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
.parseroom-message {
  width: 100%;
  background-color: transparent;
  margin-top: 10px;
  flex-shrink: 0;
  display: flex;
}

.filler-message {
  height: 10px;
  width: 100%;
  background-color: transparent;
  flex-grow: 1;
  flex-shrink: 0;
}

.p-profile {
  width: 40px;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* display: none; */
}

.p-message {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.p-username {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-bottom: 5px;
  font-family: Inter-Light;
  font-size: 11px;
  opacity: 0.5;
}

.p-description {
  max-width: 88%;
  width: fit-content;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 13px;
  word-break: break-word;
}

.p-description-whisper {
  max-width: 88%;
  width: fit-content;
  background-color: #6029ec;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 13px;
  word-break: break-word;
}

.p-description-whisper {
  max-width: 88%;
  width: fit-content;
  background-color: #6029ec;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 13px;
  color: #fefefe;
  word-break: break-word;
}

.parser-profile {
  background-color: tr;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin-top: 20px;
}

.p-username-me {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-bottom: 5px;
  font-family: Inter-Light;
  font-size: 11px;
  text-align: right;
  opacity: 0.5;
}

.p-description-me {
  max-width: 88%;
  width: fit-content;
  background-color: #f30505;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 13px;
  color: #fefefe;
  word-break: break-word;
}

.p-description-me-whisper {
  max-width: 88%;
  width: fit-content;
  background-color: #6029ec;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Inter-Regular;
  font-size: 13px;
  color: #fefefe;
  word-break: break-word;
}

.parser-profile-me {
  background-color: aqua;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin-top: 20px;
}

.p-profile-me {
  width: 40px;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* display: none; */
}

.p-message-me {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ping-whisper {
  opacity: 0.5;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #6029ec;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 11px;
}

.ping-whisper-me {
  opacity: 0.5;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #f30505;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 11px;
}

.details-parseroom-wrapper {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  overflow-x: scroll;
  scrollbar-width: none;
  box-sizing: border-box;
}

.section-details {
  height: 350px;
  width: 100%;
  background-color: #6029ec;
  margin-top: 10px;
}

.game-default-wrapper {
  width: 100%;
  height: 170px;
  flex-shrink: 0;
  border-radius: 0px 0px 7px 7px;
  box-sizing: border-box;
  background-color: #fefefe;
}
#game-2 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  opacity: 1;
}
.game-default-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
}
#cover-infodetail-bot {
  font-style: italic;
}

.game-default-span {
  color: #fefefe;
  font-family: Inter-Bold;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.game-header-lbl {
  color: #fefefe;
  font-family: Inter-Bold;
  font-size: 18px;
  text-shadow: 0.1em 0.1em 0 hsl(100 10% 25%);
}
.game-header-sublbl {
  color: #fefefe;
  font-family: Inter-Light;
  font-size: 14px;
  text-shadow: 0.1em 0.1em 0 hsl(100 10% 25%);
}
#game-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
}

.details-parseroom-title {
  width: 100%;
  height: 20px;
  background-color: transparent;
  font-size: 14px;
  font-family: Inter-Light;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  margin-top: 20px;
  opacity: 0.5;
}

.details-parseroom-bulletin {
  width: 100%;
  height: 30px;
  background-color: transparent;
  font-size: 16px;
  font-family: Inter-Medium;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  margin-top: 5px;
}

.icon-details {
  width: 20px;
  margin-right: 7px;
  margin-left: 5px;
  filter: invert(11%) sepia(94%) saturate(7069%) hue-rotate(3deg)
    brightness(99%) contrast(96%);
}

.details-parseroom-server {
  width: 100%;
  height: 30px;
  background-color: transparent;
  font-size: 16px;
  font-family: Inter-Medium;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  margin-top: 5px;
}

.details-parseroom-monitor {
  width: 100%;
  height: 30px;
  background-color: transparent;
  font-size: 16px;
  font-family: Inter-Medium;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  margin-top: 5px;
}
.back-parseroom {
  font-family: Inter-Light;
  font-size: 14px;
  margin-top: 10px;
  text-shadow: 0.1em 0.1em 0 hsl(100 10% 25%);
}
