@font-face {
  font-family: "Inter-Bold";
  src: url(assets/fonts/Inter-Bold.otf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(assets/fonts/Inter-Medium.otf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(assets/fonts/Inter-Regular.otf);
}

@font-face {
  font-family: "Inter-Light";
  src: url(assets/fonts/Inter-Light.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#home_div {
  width: 90%;
  height: 100%;
  background-color: transparent;
  display: none;
  justify-content: space-between;
  flex-direction: column;
}

#loading_animation_div {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
}

#loading_animation_gif {
  height: 50px;
  width: 50px;
}

#parsing_lbl {
  font-family: Inter-Regular;
  color: #f30505;
  margin-top: 15px;
  font-size: 12px;
}

#home_trainchatbot {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainchatbot-wrapper {
  width: 90%;
  height: 100%;
  background-color: transparent;
  overflow-x: scroll;
  scrollbar-width: none;
}

#canceladdchatbot-btn {
  border: none;
  background-color: #fefefe;
  padding-top: 10px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.canceladdcluster-btn {
  width: 15px;
  margin-top: 10px;
}

.fillers {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  background-color: violet;
}
.header-title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.header-title {
  font-family: Inter-Bold;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
}

.header-due {
  font-family: Inter-Regular;
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  margin-bottom: 5px;
}

.header-date {
  font-family: Inter-Regular;
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-style: italic;
}

.chatbot-data-wrapper {
  width: 100%;
  background-color: transparent;
  margin-bottom: 10px;
  overflow: hidden;
}

.assignment-file-wrapper {
  width: 100%;
  height: 60px;
  background-color: #f3f3f3;
  margin-bottom: 7px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assignment-instruction {
  font-family: Inter-Medium;
  font-size: 16px;
  background-color: transparent;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.assignment-instruction-details {
  font-family: Inter-Light;
  font-size: 14px;
  background-color: transparent;
  display: flex;
  margin-bottom: 15px;
}

.mywork-btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  color: #fefefe;
  background-color: #f30505;
  font-family: Inter-Bold;
}

.missing-title {
  font-family: Inter-Light;
  font-size: 14px;
  color: #f30505;
}
.img-type {
  width: 20px;
  filter: invert(83%) sepia(7%) saturate(9%) hue-rotate(340deg) brightness(90%)
    contrast(86%);
}
.img-type-pdf {
  width: 25px;
  margin-left: 5px;
  filter: invert(83%) sepia(7%) saturate(9%) hue-rotate(340deg) brightness(90%)
    contrast(86%);
}
